{% extends 'layout.html' %}
{% load i18n %}
{% block mainBodyContent %}
<h3>

{%if user.is_authenticated%}
    {%if codeIsPurchased%}
    <a href="{%url 'download' prod='code' id=progCode_i.id%}">
        <button class="downloadButt">
            {% trans 'Download'%}
        </button>
    </a>
    {%else%}
    <button class="add2cart" onclick="addRemove(event)" data-action="add" data-id="{{ progCode_i.id }}"
        data-type="code">
        {% trans 'Add to cart'%}
    </button>
    <button class="removeFromCart" onclick="addRemove(event)" data-action="remove" data-id="{{ progCode_i.id }}"
        data-type="code">
        {% trans 'Remove from cart'%}
    </button>
    {%endif%}
    {% else %}

    <a href="{%url 'login'%}" style="text-decoration-line:none; color:rgb(255, 0, 111);"> {%trans 'To download this you need to Login'%} </a>
    {%endif%}
</h3>
{%if user.is_authenticated%}
<div class="prodPrice">
   <h3>{%trans 'price'%}: {{progCode_i.price}} {%trans 'tomans'%}</h3>
</div>
 {%endif%}
<div class="prodDetailDiv">
    <div class="prodDemo">
        <div id="55840133971">
            <iframe src="{{progCode_i.demo}}" allowFullScreen="true" webkitallowfullscreen="true"
                mozallowfullscreen="true">
            </iframe>
        </div>
    </div>
    <div class="prodDesription">
       <h3>{{progCode_i.description}}</h3>
    </div>
</div>
{% endblock %}